body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: aliceblue;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.content {
    text-align: center;
    border: 2px solid black;
    padding: 16px;
    border-radius: 12px;
    background-color: white;
    display: flex;
    flex-direction: column;
}
