<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Overwatch Characters</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="container">
        {% for hero in heroes %}
        <div class="content">
            <p>{{ hero.name }}</p>
            <img src="{{ hero.portrait }}">
            <p>{{ hero.role.capitalize() }}</p>
        </div>
        {% endfor %}
    </div>
</body>
</html>